.App {
 /* text-align: center;*/
 background-color: #f2f2f2;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.marginTop24{
  margin-top: 24px;
}
.marginBottom24{
  margin-bottom: 24px;
}

.marginTopBottom24{
  margin-top: 24px;
  padding-bottom: 24px;
}
.container_buttons_modal{
  margin-top: 20px;
}

.auth{
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: white;
  position: absolute;

}

.mese_alidita{
  text-decoration: none; 
}
.paddingLeft32{
  padding-left: 32px;
}

#loader_download_contestazione .MuiFormControl-root .MuiBox-root{
min-height: 48px;
width: 200px;
border:none;
background-color:white;

}

#loader_download_contestazione .MuiFormControl-root .MuiBox-root p{
  color: #0073E6;
  font-weight: 600;
  
}

#singleInputRel .MuiFormControl-root .MuiFormLabel-root{
  margin-bottom: 0px;


}

#singleInputRel .MuiFormControl-root .MuiBox-root .MuiBox-root, #singleInputRel .MuiFormControl-root .MuiBox-root{
height: 48px;
}
 #singleInputRel .MuiFormControl-root .MuiBox-root{
  min-height: 48px;
  }

